<div class="input{{#if className}} {{className}}{{/if}}">
  <label for="{{label-for}}">{{label-text}}</label>
  <input
    class="input__element" type="{{ type }}" 
    name="{{ name }}" id="{{id}}">
</div>
